		<div class="container">
			<div class="row">
				
				<div class="col-md-4 col-sm-6">
					<img class="img-responsive" src="http://placehold.it/600x400">
					<div class="editContent">
						<h2>Column One</h2>
					</div>
					<div class="editContent">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa ex, suscipit id ligula at, luctus tempus dolor. Etiam sodales posuere ligula, eu aliquet nunc commodo vitae. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-6">
					<img class="img-responsive" src="http://placehold.it/600x400">
					<div class="editContent">
						<h2>Column Two</h2>
					</div>
					<div class="editContent">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa ex, suscipit id ligula at, luctus tempus dolor. Etiam sodales posuere ligula, eu aliquet nunc commodo vitae. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
					</div>
				</div>
				
				<div class="col-md-4 hidden-sm">
					<img class="img-responsive" src="http://placehold.it/600x400">
					<div class="editContent">
						<h2>Column Three</h2>
					</div>
					<div class="editContent">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa ex, suscipit id ligula at, luctus tempus dolor. Etiam sodales posuere ligula, eu aliquet nunc commodo vitae. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
					</div>
				</div>
				
			</div><!-- /.row -->
		</div><!-- /.container -->

<hr />