

    <!-- Start Promo 1 -->
    <section id="promo-1" class="content-block promo-1 min-height-600px bg-offwhite">
        <div class="container">
            
            <div class="row">
                        
                <div class="col-md-5">
                    <div class="editContent">
                        <h2>Everything is awesome!</h2>
                    </div>
                    <div class="editContent">
                        <p>Suspendisse ac pretium sapien, placerat lacinia enim. Fusce eu elit quis lacus cursus mollis. In feugiat diam id sem consectetur, id accumsan risus venenatis.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" placeholder="First name" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" placeholder="Last name" class="form-control">
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <input type="text" placeholder="Email address" class="form-control">
                    </div>
                    
                    <a class="btn btn-primary btn-block">Register Now!</a>
                    
                </div><!-- /.col -->
                
                <div class="col-md-6 col-md-offset-1">
                
                    <div class="video-wrapper">
                        <iframe width="560" height="315" src="http://www.youtube.com/embed/vcQDcbChHQA?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                
                </div><!-- /.col -->
            
            </div><!-- /.row -->
            
        </div>
    </section>
    <!--// END Promo 1 -->

