<div class="row">
    <div class="col-md-12">
        <h2>Heading 1</h2>
        <img alt="" class="img-responsive" src="http://placehold.it/300x250" style="float: right; margin: 7px;" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porttitor ut purus id viverra. Aliquam at tempus elit, vel tempus justo. Cras euismod commodo quam, non placerat nulla. Nullam quis elit nec velit semper faucibus eu ut nunc. Mauris
            vitae nisl sed ipsum ullamcorper blandit.</p>

        <p>In non velit nulla. Duis a tortor consectetur, convallis nunc malesuada, tempus leo. Proin auctor ut justo id dignissim. Nulla tempor turpis eu leo pharetra convallis. Vestibulum hendrerit fringilla tellus, in mattis enim suscipit ac. Donec commodo
            neque odio, at consectetur est auctor a.</p>

        <p>Vivamus non orci ut ipsum porttitor vestibulum ac in quam. Vestibulum ac ultrices sapien, et pharetra enim. In lacinia orci ac lorem laoreet semper. Integer et massa nec ex sagittis congue at vel felis. Vivamus nunc nulla, euismod in lorem a,
            feugiat condimentum ligula. In varius, purus a pulvinar congue, lectus leo pharetra nisl, eget tempor est diam eu diam.</p>

        <p>Fusce consectetur diam quam, ut tincidunt lorem scelerisque sit amet. In vel dolor ex.</p>

        <p>Praesent nulla est, semper vitae facilisis vitae, consectetur at nisi. Donec luctus neque a turpis posuere, a sodales felis tempus.</p>

        <p>Phasellus posuere neque leo, eu ultrices libero fermentum a. Quisque dictum fermentum lorem convallis varius. Ut eget mi sapien. Etiam sed consequat dui. Pellentesque mollis, libero eget convallis vehicula, ante mauris dignissim augue, sed mollis
            arcu magna vel lectus. Vestibulum sit amet massa nisl.</p>
        <img alt="" class="img-responsive" src="http://placehold.it/1200x150" />
        <h3>Heading 2</h3>

        <div>&nbsp;</div>

        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
        </ul>

        <div>
            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <small>Frase c&eacute;lebre de <cite title="Nombre Apellidos">Nombre Apellidos</cite></small>
            </blockquote>
        </div>

        <p>&nbsp;<span style="line-height: 1.42857;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porttitor ut purus id viverra. Aliquam at tempus elit, vel tempus justo. Cras euismod commodo quam, non placerat nulla. Nullam quis elit nec velit semper faucibus eu ut nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porttitor ut purus id viverra. Aliquam at tempus elit, vel tempus justo. Cras euismod commodo quam, non placerat nulla. Nullam quis elit nec velit semper faucibus eu ut nunc.</span>
        </p>

        <p>Nullam quis elit nec velit semper faucibus eu ut nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porttitor ut purus id viverra. Aliquam at tempus elit, vel tempus justo. Cras euismod commodo quam, non placerat nulla. Nullam
            quis elit nec velit semper faucibus eu ut nunc.</p>

        <section id="lista-articulos">
            <h2>Lorem ipsum dolor sit</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porttitor ut purus id viverra. Aliquam at tempus elit, vel tempus justo. Cras euismod commodo quam, non placerat nulla. Nullam quis elit nec velit semper faucibus eu ut nunc.Lorem
                ipsum dolor sit amet, consectetur adipiscing elit. Nulla porttitor ut purus id viverra. Aliquam at tempus elit, vel tempus justo. Cras euismod commodo quam, non placerat nulla. Nullam quis elit nec velit semper faucibus eu ut nunc.</p>

            <p>&nbsp;</p>

            <article>
                <a href="#" title=""><img alt="" src="http://placehold.it/140x105" style="border: none; float: left; margin: 7px 10px;" title="" />
                </a>

                <h4>Lorem Ipsum #1</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porttitor ut purus id viverra. Aliquam at tempus elit, vel tempus justo. Cras euismod commodo quam, non placerat nulla. Nullam quis elit nec velit semper faucibus eu ut nunc.</p>

                <p><a href="#" title="">+ more</a>
                </p>

                <p>&nbsp;</p>
            </article>

            <article>
                <a href="#" title=""><img alt="" src="http://placehold.it/140x105" style="border: none; float: left; margin: 7px 10px;" title="" />
                </a>

                <h4>Lorem Ipsum #1</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porttitor ut purus id viverra. Aliquam at tempus elit, vel tempus justo. Cras euismod commodo quam, non placerat nulla. Nullam quis elit nec velit semper faucibus eu ut nunc.</p>

                <p><a href="#" title="">+ more</a>
                </p>

                <p>&nbsp;</p>
            </article>

            <article>
                <a href="#" title=""><img alt="" src="http://placehold.it/140x105" style="border: none; float: left; margin: 7px 10px;" title="" />
                </a>

                <h4>Lorem Ipsum #1</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porttitor ut purus id viverra. Aliquam at tempus elit, vel tempus justo. Cras euismod commodo quam, non placerat nulla. Nullam quis elit nec velit semper faucibus eu ut nunc.</p>

                <p><a href="#" title="">+ more</a>
                </p>
            </article>
        </section>
    </div>
</div>

<hr />