	<!-- HEADER 3 -->
	<header id="header-3">

		<section class="hero">
			<div class="container">

				<div class="navicon">
					<a id="nav-toggle" class="nav-slide-btn" href="#"><span></span></a>
				</div>
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="editContent">
						<h1>Bootstrap Starter Kit</h1>
					</div>
					<div class="editContent">
						<p class="lead">Lots of easy to use component blocks for fast Bootstrap site development</p>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-3 text-center">
					<div class="col-md-6">
						<a href="#" class="btn btn-info btn-block">Find out more</a>
					</div>
					<div class="col-md-6">
						<a href="#" class="btn btn-danger btn-block">Buy here</a>
					</div>
				</div>
			</div>
		</section>
		
    </header>
    <!--// END HEADER 3 -->

    <hr />
	
