<div class="row">
    <div class="col-md-12">
        <h2>Heading 1</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porttitor ut purus id viverra. Aliquam at tempus elit, vel tempus justo. Cras euismod commodo quam, non placerat nulla. Nullam quis elit nec velit semper faucibus eu ut nunc. Mauris
            vitae nisl sed ipsum ullamcorper blandit. In non velit nulla. Duis a tortor consectetur, convallis nunc malesuada, tempus leo. Proin auctor ut justo id dignissim. Nulla tempor turpis eu leo pharetra convallis. Vestibulum hendrerit fringilla
            tellus, in mattis enim suscipit ac. Donec commodo neque odio, at consectetur est auctor a.</p>

        <p>Vivamus non orci ut ipsum porttitor vestibulum ac in quam. Vestibulum ac ultrices sapien, et pharetra enim. In lacinia orci ac lorem laoreet semper. Integer et massa nec ex sagittis congue at vel felis. Vivamus nunc nulla, euismod in lorem a,
            feugiat condimentum ligula. In varius, purus a pulvinar congue, lectus leo pharetra nisl, eget tempor est diam eu diam. Fusce consectetur diam quam, ut tincidunt lorem scelerisque sit amet. In vel dolor ex.</p>
        <iframe align="middle" frameborder="0" height="300" scrolling="no" src="//maps.google.com/maps?q=Torre de hercules, coruña&amp;num=1&amp;t=m&amp;ie=UTF8&amp;z=16&amp;output=embed" width="100%"></iframe>

        <p>&nbsp;</p>

        <p>Praesent nulla est, semper vitae facilisis vitae, consectetur at nisi. Donec luctus neque a turpis posuere, a sodales felis tempus. Phasellus posuere neque leo, eu ultrices libero fermentum a. Quisque dictum fermentum lorem convallis varius. Ut
            eget mi sapien. Etiam sed consequat dui. Pellentesque mollis, libero eget convallis vehicula, ante mauris dignissim augue, sed mollis arcu magna vel lectus. Vestibulum sit amet massa nisl.</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2 style="text-align: center;">by Road</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
        </div>
        <!-- /.col-md-4 -->

        <div class="col-md-4">
            <h2 style="text-align: center;">Train station</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
        </div>
        <!-- /.col-md-4 -->

        <div class="col-md-4">
            <h2 style="text-align: center;">Airport</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
</div>
<hr />