

	<!-- Start Pricing Table 3 -->
    <section class="content-block">
		<div class="container">
						
			<div class="row">
				
				<div class="col-md-4 col-sm-6 pricing-table-3">
					<div class="ribbon red-hot"></div>
					<div class="plan">
						<header>
							<div class="editContent">
								<h2>Starter</h2>
							</div>
							<div class="price">
								<span class="currency editContent">$</span>
								<span class="amount editContent">10</span>
								<span class="period editContent">Month</span>
							</div><!-- /.price -->
							<a href="#" class="btn btn-success">Buy Now!</a>
						</header>
						<ul class="features">
							<li><span class="fa fa-file-o"></span> <span class="editContent">20 Pages</span></li>
							<li><span class="fa fa-cloud-upload"></span> <span class="editContent">10 GB Storage</span></li>
							<li><span class="fa fa-signal"></span> <span class="editContent">500 GB Bandwidth</span></li>
							<li><span class="fa fa-laptop"></span> <span class="editContent">Custom Domain</span></li>
							<li><span class="fa fa-rocket"></span> <span class="editContent">24/7 Support</span></li>
						</ul><!-- /.features -->
					</div><!-- /.plan -->
				</div><!-- /.col -->
				
				<div class="col-md-4 col-sm-6 pricing-table-3">
					<div class="ribbon popular"></div>
					<div class="plan">
						
						<header>
							<div class="editContent">
								<h2>Professional</h2>
							</div>
							<div class="price">
								<span class="currency editContent">$</span>
								<span class="amount editContent">25</span>
								<span class="period editContent">Month</span>
							</div><!-- /.price -->
							<a href="#" class="btn btn-success">Buy Now</a>
						</header>
						<ul class="features">
							<li><i class="fa fa-file-o"></i> <span class="editContent">100 Pages</span></li>
							<li><i class="fa fa-cloud-upload"></i> <span class="editContent">100 GB Storage</span></li>
							<li><i class="fa fa-signal"></i> <span class="editContent">2 TB Bandwidth</span></li>
							<li><i class="fa fa-laptop"></i> <span class="editContent">Custom Domain</span></li>
							<li><i class="fa fa-rocket"></i> <span class="editContent">24/7 Support</span></li>
						</ul><!-- /.features -->
					</div><!-- /.plan -->
				</div><!-- /.col -->
				
				<div class="col-md-4 col-sm-6 pricing-table-3">
					<div class="ribbon premium"></div>
					<div class="plan">
						
						<header>
							<div class="editContent">
								<h2>EPIC!</h2>
							</div>
							<div class="price">
								<span class="currency editContent">$</span>
								<span class="amount editContent">40</span>
								<span class="period editContent">Month</span>
							</div><!-- /.price -->
							<a href="#" class="btn btn-success">Buy Now</a>
						</header>
						<ul class="features">
							<li><i class="fa fa-file-o"></i> <span class="editContent">Unlimited Pages</span></li>
							<li><i class="fa fa-cloud-upload"></i> <span class="editContent">Unlimited Storage</span></li>
							<li><i class="fa fa-signal"></i> <span class="editContent">Unlimited Bandwidth</span></li>
							<li><i class="fa fa-laptop"></i> <span class="editContent">Custom Domain</span></li>
							<li><i class="fa fa-rocket"></i> <span class="editContent">24/7 Support</span></li>
						</ul><!-- /.features -->
					</div><!-- /.plan -->
				</div><!-- /.col -->
				
			</div><!-- /.row -->
			
		</div><!-- /.container -->
	</section>
	<!-- End Pricing Table 3 -->

