

	<!-- Start Team 1-1 -->
    <section class="content-block team-1">
		<div class="container">
			
			<div class="underlined-title">
				<div class="editContent">
	        		<h1>Say hello to the team</h1>
				</div>
	    		<hr>
	    	</div>
			
			<div class="row">
			
                <div class="col-sm-4 team-member-wrap">
					<div class="team-member">
						<img src="http://placehold.it/600x500" class="img-responsive" alt="Member Image">
						<div class="team-details">
							<div class="editContent">
								<h4 class="member-name">Full Name</h4>
							</div>
							<div class="editContent">
								<p class="position">Co-Founder</p>
							</div>
							<div class="editContent">
								<p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- /.team-member-wrap -->
                
                <div class="col-sm-4 team-member-wrap">
					<div class="team-member">
						<img src="http://placehold.it/600x500" class="img-responsive" alt="Member Image">
						<div class="team-details">
							<div class="editContent">
								<h4 class="member-name">Full Name</h4>
							</div>
							<div class="editContent">
								<p class="position">Co-Founder</p>
							</div>
							<div class="editContent">
								<p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- /.team-member-wrap -->
				
				<div class="col-sm-4 team-member-wrap">
					<div class="team-member">
						<img src="http://placehold.it/600x500" class="img-responsive" alt="Member Image">
						<div class="team-details">
							<div class="editContent">
								<h4 class="member-name">Full Name</h4>
							</div>
							<div class="editContent">
								<p class="position">Co-Founder</p>
							</div>
							<div class="editContent">
								<p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- /.team-member-wrap -->
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!--// End Team 1-1 -->

<hr />